.forget-pass-container{
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;
    min-height: 90vh;
    .section-1{
     width: 100%;
        h1{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 20px;
            color: black;
            font-weight: bold;
            ion-icon{
                margin-left: 10px;
                font-size: 30px;
            }
        }
        p{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #A6A6A6;
            margin-top: 40px;
            font-size: 20px;

        }
    }
    .section-2{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
        h2{
            color: black;
            font-size: 25px;
            font-weight: 700;

        }
        input{
            width: 100%;
            background-color: #ffff;
            height: 65px;
            border: 1px solid #B6D433;
            color: black;
            padding: 10px 20px;
            border-radius: 6px;

            ::placeholder{
                color: #A6A6A6;

            }
        }
        button{
            width: 100%;
            background-color: #B6D433;
            height: 65px;
            border: 1px solid #B6D433;
            color: black;
            padding: 10px 20px;
            border-radius: 6px;
            margin-top: 40px;
        }

    }
}

.footer{
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: black;
    width: 100%;
    span{
        color: #6679BB;
        text-decoration: underline;
        margin: 0 3px;
    }
}

@media(min-width:820px){

    .section-2{
        input{
            width: 80% !important;
        }
        button{
            width: 80% !important;
            margin: auto;
        }
    }
  }

  @media(min-width:1000px){
    .section-1{
        p{
            width: 75% !important;
            margin: auto;
            font-size: 25px !important;
            text-align: center;

        }
    }
    .section-2{
        justify-content: center !important;
        align-items: center !important;
    }
    .section-2{
        input{
            width: 60% !important;
        }
        button{
            width: 60% !important;
            margin: auto;
        }
    }
  }