<div class="forget-pass-container">
  <div class="section-1">
    <h1><ion-icon name="arrow-back-outline"></ion-icon> Forget Password</h1>

    <p>Enter your username/email and we will send you instructions on how to reset your password!</p>

  </div>
  <div class="section-2">
    <h2>Enter your Username/Email</h2>
    <input type="text" placeholder="Enter your username">
    <button class="btn"  type="button" data-bs-toggle="modal" data-bs-target="#EmailSendSuccess">Send Email</button>
  </div>

</div>
