

<div class="modal fade first-model " id="staticBackdrop"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="line"></div>
        <h2>Logout</h2>
        <p>Do you want to logout?</p>

        <div class="logout-btn">
          <button class="btn btn-1" type="button"  data-bs-dismiss="modal">Not Now</button>
          <button class="btn btn-2">Logout</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- selfie  model -->


<div class="modal fade first-model  second-model" id="staticBackdrop-selfie"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  selfie-modal-dialog ">
    <div class="modal-content">
      <div class="modal-body">
        <div class="line"></div>
        <h2>Check In</h2>
        <div class="text"> <p>Zinggy's corner pub</p> <span> vs </span> <p> Li impact</p></div>
        <div class="location-tab">
         
          <div class="box-1"> <ion-icon name="location-outline"></ion-icon>  <div class="icon">New York , NY</div></div>
          <div class="box-1 box-2"> <div class="circle"><ion-icon name="checkmark-outline"></ion-icon></div>   <div class="icon">you are on permissions</div></div>

        </div>

        <div class="logout-btn">
          
          <button class="btn btn-2" routerLink="/selfie"  data-bs-dismiss="modal"> <ion-icon name="camera-outline" ></ion-icon>  Take a selfie</button>
        </div>
      </div>

    </div>
  </div>
</div>
