.login-page-main-conatiner{
    background-color: #fff;
    width: 100vw;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;

    .section-1{
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 141px;
            height: 88px;
        }

    }


    .section-2{
        color:#000000;
        padding: 14px;
        
        h1{
            font-weight: bold;
            line-height: -1.1%;
            font-size: 24px;
            line-height: 24px;
            margin-top: -10px;
        }
        h2{
            color: #B6D433;
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
            margin-top: -4px;
            
        }
        p{
            margin-top: -3px;
        }
        
    }

    .section-3{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 4px;
        margin-bottom: 150px !important;
        h3{
            font-weight: 700;
            font-family: 'Franklin Gothic', sans-serif;
        }
        .login-form-contaner{
            width: 100%;
            display: flex;
            justify-self:center;
            align-items: center;
            flex-direction: column;
            gap: 15px;

            .button-conyainer{
                cursor: pointer;
                border: 2px solid #000000;
                border-radius: 16px;
                height: 56px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .inner{
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000000;
                    gap: 10px;
                    font-family: 'Franklin Gothic', sans-serif;
                    font-size: 16px;
                    .icon{
                        color: #B6D433;
                        font-size: 25px;
                        margin-top: 7px;
                    }
                }


            }


        }

    }

    .section-footer{
        position: relative;
        bottom: 0;
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            margin-left: 4px;
            color: #B6D433;
            font-size: 20px;
        }



    }
    
}
.splash-screen-container{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 141px;
      height: 80px;
    }
  }

@media(min-width:768px){
    .section-2{
        color:#000000;
        padding: 14px;
        
        h1{
       
            font-size: 30px;
          
        }
        h2{
           
            font-size: 20px;
          
            
        }
        p{
        
            font-size: 17px;
        }
        
    }
    .section-3{
 
        .login-form-contaner{

            .button-conyainer{
           
                width: 50% !important;
                .inner{
                    font-size: 20px !important;
                }
    


            }


        }

    }


}
@media(min-width:1000px){
    .section-2{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color:#000000;
        padding: 14px;
        margin: auto;
        
        h1{
       
            font-size: 30px;
          
        }
        h2{
           
            font-size: 20px;
          
            
        }
        p{
        
            font-size: 17px;
        }
        
    }
    .section-3{
        width: 70% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        h3{
            text-align: center;
            margin: auto;
        }
        .login-form-contaner{

            .button-conyainer{
           
                width: 50% !important;
                .inner{
                    font-size: 20px !important;
                }
    


            }


        }

    }


}







.loading-spinner {
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%) translateZ(0);
    top: 50%;
    width: 90px;
    height: 90px;
    z-index: 1;
    background: url('../../assets/Group 22968.png') center no-repeat;
    background-size: contain;
	 
}

.loading-spinner:after {
	content:"";
	position:absolute;
	width:120px;
	height:120px;
	background-color:rgba(0,0,0,0);
	border-radius:100%;
	margin:-15px;
	box-shadow: 0 4px 0 0 #B6D433;
	transition: all 1s linear;
	animation: lds-eclipse 1s linear infinite;
}



@keyframes spinning {
	0% { transform: translate(-50%,-50%) scale(1) translateZ(0);}
	50% { transform: translate(-50%,-50%) scale(1.1) translateZ(0);}
	100% { transform: translate(-50%,-50%) scale(1) translateZ(0);}
}

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}