<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>example-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <form [formGroup]="emailForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" (input)="email?.markAsTouched()"></ion-input>
    </ion-item>
    <ion-item *ngIf="email?.invalid && (email?.dirty || email?.touched)">

      <ion-text color="danger" *ngIf="email?.errors?.['pattern']">
        Invalid email format.
      </ion-text>
    </ion-item>
  </form>



  <select>
    <option value="dd">ottt</option>
    <option value="ddd">ddddd</option>
    <option value="dd">vvvvvvvvv</option>
  </select> -->



  <div class="circle">
    <img class="loader" src="../../assets/undraw_server_down_s4lk.png" alt="">
  </div>



</ion-content>
