<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="login-page-main-conatiner">
  <div class="section-0">
    <img src="../../assets/Group 23.png" alt="">
  </div>
  <div class="section-1">
    <img src="../../assets/Group 22968.png" alt="">
  </div>


  <div class="section-2">
    <h1>Sign In With Email</h1>
    <h2>NYSA</h2>
  </div>
  <div class="section-3">

     
         <form  class="login-form">


          <div class="button-conyainer">
            <div class="inner">
              <div class="icon"><label class="label">Email</label></div>
              <div class="input"> <input type="text" placeholder="Enter Email"> </div>
            </div>
        </div>
        <div class="button-conyainer SECOND">
          <div class="inner">
            <div class="icon"><label class="label">Passward</label></div>
            <div class="input"> <input type="password" placeholder="Enter Passward"> <ion-icon name="eye-off-sharp"></ion-icon></div>
          </div>
        </div>


         </form>

  
      
      
      
      
      
      
      
     
  

  </div>
  <div class="section-footer">
   <button routerLink="/register">Proceed <ion-icon class="icon" name="arrow-forward-outline"></ion-icon></button>
  </div>
</div>

</ion-content>
