

<ion-content [fullscreen]="true">

<div class="login-page-main-conatiner">
  <div class="section-0">
    <img src="../../assets/Group 23.png" alt="">
  </div>
  <div class="section-1">
    <img src="../../assets/Group 22968.png" alt="">
  </div>


  <div class="section-2">
    <h1>Sign In With Email</h1>
    <h2>NYSA</h2>
  </div>
  <div class="section-3">

     
         <form  class="login-form" [formGroup]="loginForm"  (ngSubmit)="onSubmit()">


          <div class="button-conyainer">
            <div class="inner">
              <div class="icon"><label class="label">Email</label></div>
              <div class="input"> <input type="text" placeholder="Enter Email" formControlName="username" autocomplete="off" > </div>
            </div>
        </div>

        <div class="button-conyainer SECOND" *ngIf="isuserExist">
          <div class="inner">
            <div class="icon"><label class="label">Passward</label></div>
            <div class="input"> <input type="{{ hidePassword ? 'password' : 'text' }}" placeholder="Enter Passward" formControlName="password" autocomplete="off" > <ion-icon name="{{ hidePassword ? 'eye-off-sharp' : 'eye-sharp' }}" (click)="togglePasswordVisibility()"></ion-icon></div>
          </div>
        </div>


         </form>

  
      
      
      
      
      
      
      
     
  

  </div>
  <div class="section-footer">
   <button type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">Proceed<ion-icon class="icon" name="arrow-forward-outline"></ion-icon></button>
  </div>
</div>

</ion-content>
