<ion-content [fullscreen]="true">

  <div class="login-page-main-conatiner">
    <div class="section-0" (click)="goBack()">
      <img src="../../assets/Group 23.png" alt="">
    </div>
    <div class="section-1">
      <img src="../../assets/Group 22968.png" alt="">
    </div>


    <div class="section-2">
      <h1>Sign In With {{loginMethod}}</h1>
      <h2>{{loginAsAdmin?'as Admin':'NYSA'}}</h2>
    </div>

    <div class="alert alert-success d-flex align-items-center opt-succees-alert" role="alert"
      *ngIf="isError.adminLoginSuccess">
      <div class="icon">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </div>
      <div>
        You login as Admin successfully
      </div>
    </div>
    <div class="alert alert-danger d-flex align-items-center error-otp-alert" role="alert" *ngIf="isError.isAdminWrong">
      <div class="icon">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </div>
      <div>
        Wrong Credentials please try again
      </div>
    </div>

    <div class="section-3">


      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">


        <div class="button-conyainer" [ngClass]="{'errorBorder':isError.isUser}">
          <div class="inner">
            <div class="icon"><label class="label">{{loginMethod}}</label></div>
            <div class="input"> <input type="text" placeholder="Enter your {{loginMethod}}" formControlName="username"
                autocomplete="off"> </div>
          </div>
        </div>

        <p class="error-message"
          *ngIf="isError.isUser || (loginForm.get('username')?.dirty && loginForm.get('username')?.invalid)">
          {{ isError.isUser ? 'This ' + loginMethod + ' is not exist' : 'Invalid ' + loginMethod }}
        </p>


        <div class="button-conyainer SECOND" [ngClass]="{'errorBorder': isError.isPassWrong}"
          *ngIf="isuserExist || loginAsAdmin">
          <div class="inner">
            <div class="icon"><label class="label">Passward</label></div>
            <div class="input"> <input type="{{ hidePassword ? 'password' : 'text' }}" placeholder="Enter Passward"
                formControlName="password" autocomplete="off">
              <ion-icon name="{{ hidePassword ? 'eye-off-sharp' : 'eye-sharp' }}" (click)="togglePasswordVisibility()">
              </ion-icon>
            </div>
            <div class="forget-password" routerLink="/verification">Forget Password</div>
          </div>
        </div>
        <p class="error-message mtop" *ngIf="isError.isPassWrong">Wrong password please try again</p>
        <p class="error-messagemt-2 mtop" *ngIf="isError.isAdminWrong">Wrong Credentials please correct and try again
        </p>
      </form>




    </div>
    <div class="section-footer">
      <button type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">
        <div class="loader" *ngIf="isLoading"></div>
        <p *ngIf="!isLoading">Proceed <ion-icon class="icon" name="arrow-forward-outline" *ngIf="!isLoading"></ion-icon>
        </p>
      </button>
    </div>
  </div>

</ion-content>
<app-error-alert [showAlert]="showAlert" [mesg]="errorMesg"></app-error-alert>
