<ion-content [fullscreen]="true">

  <div class="error-content-container">
    <!-- <img src="../../assets/undraw_page_not_found_re_e9o6.svg" alt=""> -->
    <ion-icon name="warning-outline"></ion-icon>
    <h2>Something went wrong</h2>
    <p>Please check your internet connection or referesh the page</p>
    <button [routerLink]="route">Go to {{page}}</button>

  </div>


</ion-content>
<ion-footer>
  <ion-toolbar class="home-page-footer">
    <app-manu-tabs></app-manu-tabs>
  </ion-toolbar>
</ion-footer>
