<ion-menu contentId="main-content" class="sidebar-main">
  <div class="sidebar-section-1">
    <div class="icon">
      <ion-menu-toggle>
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-menu-toggle>
    </div>
  </div>

  <div class="sidebar-section-2">
    <img
      src="../../../assets/beautiful-woman-red-outfit-holds-glass-tea-takes-selfie-background-sakura-portrait-brunette-girl-hat-smilimg-posing-with-coffee-cup 2.png"
      alt="">
    <div class="text">
      <h2>Admin</h2>
      <p>admin123&#64;GMAIL.COM</p>
    </div>
  </div>
  <div class="sidebar-section-3">
    <ul class="links">
      <li class="link">
        <div class="icon">
          <ion-icon name="settings-outline"></ion-icon>
        </div>
        <div class="text">Setting</div>
      </li>
      <li class="link">
        <div class="icon">
          <ion-icon name="log-out-outline"></ion-icon>
        </div>
        <div class="text" (click)="openModal()">Logout</div>
      </li>
    </ul>
  </div>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">
  <div class="loader-container" *ngIf="isLoading">
    <div class="loading-spinner">
    </div>

  </div>

  <div class="main-app-screen" *ngIf="!isLoading">
    <div class="splash-screen-container" *ngIf="isLoading">
      <img src="../../../assets/Group 22968.png" alt="">
    </div>
    <div class="home-page-section-1" *ngIf="!isLoading">
      <div class="inned-box">
        <div class="text">
          <div class="manu-open-btn">
            <ion-menu-toggle>
              <img src="../../../assets/align-left.png" alt="">
            </ion-menu-toggle>
          </div>
          <div class="content">
            <h4>wellcome to</h4>
            <h2>Admin Portal</h2>
          </div>
        </div>
        <div class="icon" (click)="toggleInput()">
          <ion-icon name="search-outline"></ion-icon>
        </div>
      </div>
      <div class="search-box divA" *ngIf="showInput">
        <div class="inner">
          <div class="icon">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </div><input type="text" placeholder="Search here..." [(ngModel)]="searchText" (input)="reSetRecords($event)">
          <div class="button"><button [disabled]="!searchText" (click)="searchData()">Search</button></div>
        </div>
      </div>
    </div>

    <div class="matches-filter-section">
      <div class="matches-filter-innerr">
        <div class="match-filter" [class.active]="activeFilter === 'All Matches'"
          (click)="setActiveFilter('All Matches')">All Matches</div>
        <div class="match-filter" [class.active]="activeFilter === 'Completed'" (click)="setActiveFilter('Completed')">
          Completed</div>

      </div>
    </div>




    <div class="model-loader-container" *ngIf="isSearching">
      <div class="loaderModel"></div>
    </div>
    <div class="all-matches-section-container" *ngIf="!isSearching">
      <div class=" match-box" *ngFor="let match of matches; let i = index">
        <div class="match-box-header">
          <div class="text">
            <p>{{match?.team1}}</p> <span> vs </span>
            <p> {{match?.team2}}</p>
          </div>
          <div class="btns"><button class="checkin-btn" (click)="openModal1(i,match)" expand="block">
              Details
            </button></div>
        </div>

        <div class="match-profile-content">
          <div class="left">
            <div class="p1">Programe State</div>
            <div class="p2">{{match?.programState}}</div>
            <div class="p3">Location</div>
            <div class="p4">
              <div class="icon">
                <ion-icon name="location-outline"></ion-icon>
              </div>
              <div class="text">{{match?.locationName
          }}</div>
            </div>
          </div>
          <div class="right">

            <div class="p1">Start time</div>
            <div class="p4">
              <div class="icon">
                <ion-icon name="time-outline"></ion-icon>
              </div>
              <div class="text">{{ formatTime(match.startTime
            ) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="infinitloader" *ngIf="isLoadMoreData">
      <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
        <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>


    <div class="padding-space"></div>


    <div class="norecords-section" *ngIf="!matches?.length && !isSearching">
      <div class="inner">
        <div class="icon">
          <img src="../../../assets/undraw_Joyride_re_968t.png" alt="">
        </div>
        <h2>Sorry No Results found :(</h2>
        <p>We're sorry what you are looking for. Please try another way</p>
      </div>
    </div>

    <ion-modal [isOpen]="isOpenModal" (closed)="closeModal()" [initialBreakpoint]="1" [breakpoints]="[0, 1]"
      (ionBackdropTap)="backdropTaped()">
      <ng-template>
        <div class="block">
          <div class="model-loader-container" *ngIf="modelLoading">
            <div class="loaderModel"></div>
          </div>
          <div class="details-page-main-container" *ngIf="!modelLoading">
            <div class="details-content-container">
              <h1>Match Details</h1>
              <div class="match-details-table">
                <div class="table-row">
                  <div class="small-section">
                    <p class="h3">Team 1</p>
                    <p>{{modelData?.team1}}</p>
                  </div>
                  <div class="small-section">
                    <p class="h3">Team 2</p>
                    <p>{{modelData?.team2}}</p>
                  </div>
                  <div class="small-section">
                    <p class="h3">Start Time</p>
                    <p>{{ formatTime(modelData?.startTime
            ) }}</p>
                  </div>
                  <div class="small-section">
                    <p class="h3">Date/Time
                    </p>
                    <p>{{formateDateTime(modelData?.startTime)}}</p>
                  </div>
                  <div class="small-section">
                    <p class="h3">Program State</p>
                    <p>{{modelData?.programState}}</p>
                  </div>
                  <div class="small-section">
                    <p class="h3">Program Name
                    </p>
                    <p>Sunday 11:00am</p>
                  </div>

                </div>
                <div class="checkedIn-players">
                  <h2>Checked in players</h2>
                  <div class="empty-chechin-message" *ngIf="!modelData?.checkIns.length">
                    <div class="icon">
                      <ion-icon name="people-circle-outline"></ion-icon>
                    </div>
                    <h3>No Checked in player found</h3>
                  </div>
                  <div class="players-boxes" *ngIf="modelData?.checkIns.length">
                    <div class="play-box" *ngFor="let box of modelData?.checkIns" (click)="fetchSingleUser(box)">
                      <img
                        [src]="box.photo? apiUrl+'/'+box.photo:'../../../assets/beautiful-woman-red-outfit-holds-glass-tea-takes-selfie-background-sakura-portrait-brunette-girl-hat-smilimg-posing-with-coffee-cup 2.png'"
                        alt="">
                      <p>{{box.username? box.username :"No name"}}</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </ng-template>
    </ion-modal>

  </div>

  <button class="btn second-btn-non" #myButton type="button" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop-proceed">Send Email</button>
  <button class="btn second-btn-non" #myButton2 type="button" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop">logout</button>

</ion-content>
<ion-footer *ngIf="!isLoading">
  <ion-toolbar class="home-page-footer">
    <app-manu-tabs></app-manu-tabs>
  </ion-toolbar>
</ion-footer>

<app-error-alert [showAlert]="showAlert" [mesg]="errorMesg"></app-error-alert>
