<div class="forget-pass-container">
  <div class="section-1">
    <h1><ion-icon name="arrow-back-outline"></ion-icon> Password Reset</h1>
  <div class="img-tab">
    <img src="../../../assets/Group 22968.png" alt="">
  </div>
  <form class="reset-form">
   <div class="form-control-section">
    <label for="">Enter your new Password</label>
    <input type="text"  placeholder="Type here">
   </div>
   <div class="form-control-section">
    <label for="">Confirm Password</label>
    <input type="password" placeholder="Enter new password">
   </div>
   <div class="button-container">
   <button>Reset</button>
   </div>
  </form>

  </div>


</div>
