.tabs-main-container {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 50px;
  overflow: hidden;
}

ion-tab-bar {
  padding: 10px 10px;
  background-color: #f3f3f3;
  color: black;
  max-width: 100%;
}
ion-tab-button {
  background-color: #f3f3f3;
  color: black;
}
ion-tab-button:hover {
  color: #b6d433 !important;
}
ion-tab-button.active {
  color: #b6d433;
  font-size: 20px;
}
