.model-loader-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loaderModel {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #b6d433;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

.player-info-header {
  padding: 20px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  font-weight: bold;

  .icon {
    font-size: 25px;
  }
  .text {
    font-weight: bold;
    color: black;
  }
}
.player-info-container {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.user-details-content-section {
  padding: 20px;
  width: 100% !important;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  .detail-colum {
    margin-top: 10px;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.img {
  width: 100%;
  img {
    width: 100% !important;
    height: auto !important;
    border-radius: 20px !important;
    object-fit: cover;
  }
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;

  button {
    width: 95%;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #b6d433;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: none;
    text-align: center;
  }
}

.detail-colum p:nth-child(2) {
  color: #71717a;
}
@media (min-width: 600px) {
  .player-info-container {
    width: 70%;
    margin: auto;
    .img {
      max-height: 400px;
      width: 50%;
      margin: auto;
    }
  }
}
