<div class="user-details-content">
  <div class="player-info-header">
    <div class="icon">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    <div class="tex">
      <h2>Player info</h2>
    </div>
  </div>
  <div class="model-loader-container" *ngIf="loading">
    <div class="loaderModel"></div>
  </div>
  <div class="player-info-container" *ngIf="!loading">
    <div class="img">
      <img
        [src]="userData?.photo?url+'/'+userData?.photo:'../../../assets/beautiful-woman-red-outfit-holds-glass-tea-takes-selfie-background-sakura-portrait-brunette-girl-hat-smilimg-posing-with-coffee-cup 2.png'"
        alt="">
    </div>
    <div class="user-details-content-section" *ngIf="!loading">
      <div class="detail-colum">
        <p>User Name</p>
        <p>{{userData?.username}}</p>
      </div>
      <div class="detail-colum">
        <p>Email</p>
        <p>{{userData?.email}}</p>
      </div>
      <div class="detail-colum">
        <p>Date of join</p>
        <p>{{transformDate(userData?.dateJoined
)}}</p>
      </div>
      <div class="detail-colum">
        <p>Phone</p>
        <p>{{userData?.mobilePhone}}</p>
      </div>
      <div class="detail-colum">
        <p>City</p>
        <p>{{userData?.city}}</p>
      </div>

    </div>
    <div class="button">
      <button routerLink="/admin">Back</button>
    </div>

  </div>
</div>
