<ion-content [fullscreen]="true">
  <div class="all-selfie-sections-container">
  <div class="selfie-section-one">
    <div class="cross-btn" routerLink="/home">
      <ion-icon name="close-outline"></ion-icon>
    </div>
  </div>

  <div class="section-2-image">
    <img *ngIf="imageSrc" [src]="imageSrc" alt="">

  </div>
  <div class="third-section">
      <div class="buttons">
        <button class="btn-1" routerLink="/home"> <ion-icon name="repeat-outline"></ion-icon> Retake</button>
        <button class="btn-1 active"  (click)="upload()">upload</button>
      </div>
  </div>
</div>
  </ion-content>
