.all-selfie-sections-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items:self-start;
    flex-direction: column;
    background-color: #ffff;
     padding:  20px;
}
.selfie-section-one{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cross-btn{
        padding: 0 10px;
        background-color: #B6D433;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        color: black;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        ion-icon{
            border: 1px solid black;
            border-radius: 50%;
        }
    }

    .location{
        display: flex;
        gap: 5px;
        ion-icon{
           padding-top: 3px;;
            
        }
    }
}

.section-2-image{
    width: 100%;
    height: 300px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.third-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        button{
           padding: 10px 20px;
           text-align: center;
           background-color: #F3F3F3;
           color: black;
           border-radius:16px;
           width: 158px;
           height: 52px;
           display: flex;
           justify-content: center;
           align-items: center;
           font-size: 20px;
           ion-icon{
            margin-right: 10px;

           }
          
        }
        button.active{
            background-color: #B6D433;
        }
    }
}