<ion-content [fullscreen]="true">
  <div class="all-selfie-sections-container">
  <div class="selfie-section-one">
    <div class="cross-btn">
      <ion-icon name="close-outline"></ion-icon>
    </div>
  </div>

  <div class="section-2-image">
    <img src="../../../assets/beautiful-woman-red-outfit-holds-glass-tea-takes-selfie-background-sakura-portrait-brunette-girl-hat-smilimg-posing-with-coffee-cup 2.png" alt="">

  </div>
  <div class="third-section">
      <div class="buttons">
        <button class="btn-1" routerLink="/selfie/screen1"> <ion-icon name="repeat-outline"></ion-icon> Retake</button>
        <button class="btn-1 active" routerLink="/home">  upload</button>
      </div>
  </div>
</div>
  </ion-content>
