<!-- <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Click to close the menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Click to open the menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
</div>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of items; let index">
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
        </ion-avatar>
        <ion-label>{{ item }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

</ion-content> -->


<!-- <ion-header>
  <ion-toolbar class="topbar">
     The ion-menu-button for the menu on the left 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    The content on the right side
    <ion-buttons slot="end">
      Search bar input 
      <ion-searchbar *ngIf="isShopPage" placeholder="Search products" style="text-align: center;"></ion-searchbar>



   Shopping bag icon with badge
      <ion-button>
        <ion-icon name="heart"></ion-icon>
        <ion-badge>7</ion-badge>
      </ion-button>
      <ion-button>
        <ion-icon name="cart"></ion-icon>
        <ion-badge>8</ion-badge>
      </ion-button>
    </ion-buttons>

    The title in the center (if needed)
    <ion-title>
      Mini-Mart
    </ion-title>
  </ion-toolbar>
</ion-header>





<ion-app>
  <ion-menu side="start" menuId="first" contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Mikronexus</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward" class="navbar-list-item">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            {{pages.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet Id="content"></ion-router-outlet>



</ion-app> -->


<!-- <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Click to close the menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Click to open the menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
</div> -->
<ion-menu contentId="main-content">
  <div class="sidebar-section-1">
    <div class="icon">
      <ion-menu-toggle>
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-menu-toggle>
    </div>
  </div>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">
  <div class="loader-container" *ngIf="isLoading">
    <div class="loading-spinner">
    </div>

  </div>
  <div class="main-app-screen" *ngIf="!isLoading">
    <div class="splash-screen-container" *ngIf="isLoading">
      <img src="../../assets/Group 22968.png" alt="">
    </div>
    <div class="home-page-section-1" *ngIf="!isLoading">
      <div class="inned-box">
        <div class="text">
          <div class="manu-open-btn">
            <ion-menu-toggle>
              <ion-icon name="menu-outline"></ion-icon>
            </ion-menu-toggle>
          </div>
          <div class="content">
            <h4>wellcome to</h4>
            <h2>Admin Portal</h2>
          </div>
        </div>
        <div class="icon" (click)="toggleInput()">
          <ion-icon name="search-outline"></ion-icon>
        </div>
      </div>
      <div class="search-box divA" *ngIf="showInput">
        <div class="inner">
          <div class="icon">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </div><input type="text" placeholder="Search here..." [(ngModel)]="searchText" (input)="reSetRecords($event)">
          <div class="button"><button [disabled]="!searchText" (click)="searchData()">Search</button></div>
        </div>
      </div>
    </div>
    <div class="all-matches-section-container" *ngIf="!isLoading">
      <div class="match-box" *ngFor="let match of matches">
        <div class="match-box-header">
          <div class="text">
            <p>{{match?.team1}}</p> <span> vs </span>
            <p> {{match?.team2}}</p>
          </div>
          <div class="btns"><button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop-selfie"
              class="checkin-btn" (click)="onButtonClick(match)">Details</button></div>
        </div>

        <div class="match-profile-content">
          <div class="left">
            <div class="p1">Programe State</div>
            <div class="p2">{{match?.programState}}</div>
            <div class="p3">Location</div>
            <div class="p4">
              <div class="icon">
                <ion-icon name="location-outline"></ion-icon>
              </div>
              <div class="text">{{match?.locationName
          }}</div>
            </div>
          </div>
          <div class="right">

            <div class="p1">Start time</div>
            <div class="p4">
              <div class="icon">
                <ion-icon name="time-outline"></ion-icon>
              </div>
              <div class="text">{{ formatTime(match.startTime
            ) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="infinitloader" *ngIf="isLoadMoreData">
      <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
        <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>


    <div class="norecords-section" *ngIf="!matches?.length">
      <div class="inner">
        <div class="icon">
          <img src="../../assets/undraw_Joyride_re_968t.png" alt="">
        </div>
        <h2>Sorry No Results found :(</h2>
        <p>We're sorry what you are looking for. Please try another way</p>
      </div>
    </div>



  </div>

  <button class="btn second-btn-non" #myButton type="button" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop-proceed">Send Email</button>
</ion-content>
<ion-footer *ngIf="!isLoading">
  <ion-toolbar class="home-page-footer">
    <app-manu-tabs></app-manu-tabs>
  </ion-toolbar>
</ion-footer>

<app-error-alert [showAlert]="showAlert" [mesg]="errorMesg"></app-error-alert>
