<ion-content [fullscreen]="true">
  <div class="all-selfie-sections-container">
  <div class="selfie-section-one">
    <div class="cross-btn">
      <ion-icon name="close-outline"></ion-icon>
    </div>
    <div class="location">
      <ion-icon name="location-outline"></ion-icon> <div class="text">New York , NY</div>
    </div>
  </div>

  <div class="section-2-image">
    <img src="../../../assets/beautiful-woman-red-outfit-holds-glass-tea-takes-selfie-background-sakura-portrait-brunette-girl-hat-smilimg-posing-with-coffee-cup 2.png" alt="">

  </div>
  <div class="third-section">
    <div class="button-con" routerLink="/selfie/screen2">
      <ion-icon name="camera-outline"></ion-icon>
    </div>
  </div>
</div>
  </ion-content>
