<ion-content [fullscreen]="true">
  <div class="main-app-screen">
    <div class="home-page-section-1">
      <div class="inned-box">
        <h2>All Matches</h2>
        <div class="manu">
          <ul>
            <li class="active">
              <ion-icon name="home-outline"></ion-icon>Home
            </li>
            <li>
              <ion-icon name="settings-outline"></ion-icon>Settings
            </li>
            <li ype="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <ion-icon name="log-out-outline"></ion-icon>Logout
            </li>

          </ul>
        </div>
        <div class="icon" (click)="toggleInput()">
          <ion-icon name="search-outline"></ion-icon>
        </div>
      </div>
      <div class="search-box divA" *ngIf="showInput">
        <div class="inner">
          <div class="icon">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </div><input type="text" placeholder="Search here..." [(ngModel)]="searchText" (input)="updateSearch()">
        </div>
      </div>
    </div>
    <div class="error-content-container" *ngIf="!isAuthenticated ">
      <ion-icon name="warning-outline"></ion-icon>
      <h2>Login session expire</h2>
      <p>Your login session expired, Please login again</p>
      <button routerLink="/auth">Login</button>
    </div>

    <div class="matches-filter-section" *ngIf="isAuthenticated ">
      <div class="matches-filter-innerr">
        <div class="match-filter" [class.active]="activeFilter === 'All Matches'"
          (click)="setActiveFilter('All Matches')">All Matches</div>
        <div class="match-filter" [class.active]="activeFilter === 'Completed'" (click)="setActiveFilter('Completed')">
          Completed</div>

      </div>
    </div>
    <div class="model-loader-container" *ngIf="isLoading">
      <div class="loaderModel"></div>
    </div>
    <div class="all-matches-section-container" *ngIf="!isLoading && isAuthenticated">
      <div class="match-box" *ngFor="let match of matches">
        <div class="match-box-header">
          <div class="text">
            <div class="box-1">
              <p>{{match?.team1}}</p> <span> vs </span>
              <p> {{match?.team2}}</p>
            </div>
            <div class="box-2" *ngIf="match?.LastCheckIn">
              <p>Last CheckedIn: <span>{{match?.LastCheckIn|localDateTime}}</span></p>
            </div>

          </div>
          <div class="btns"><button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop-selfie"
              class="checkin-btn" (click)="onButtonClick(match)">Check in</button></div>
        </div>

        <div class="match-profile-content">
          <div class="left">
            <div class="p1">Programe State</div>
            <div class="p2">{{match?.programState}}</div>
            <div class="p3">Location</div>
            <div class="p4">
              <div class="icon">
                <ion-icon name="location-outline"></ion-icon>
              </div>
              <div class="text">{{match?.locationName
          }}</div>
            </div>
          </div>
          <div class="right">

            <div class="p1">Start time</div>
            <div class="p4">
              <div class="icon">
                <ion-icon name="time-outline"></ion-icon>
              </div>
              <div class="text">{{formateDateTime(match?.startTime)}} {{ formatTime(match.startTime
            ) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="norecords-section" *ngIf="!matches.length && !isLoading && isAuthenticated">
      <div class="inner">
        <div class="icon">
          <img src="../../assets/undraw_Joyride_re_968t.png" alt="">
        </div>
        <h2>Sorry No Results found :(</h2>
        <p>We're sorry what you are looking for. Please try another way</p>
      </div>
    </div>



  </div>

  <button class="btn second-btn-non" #myButton type="button" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop-proceed">Send Email</button>
</ion-content>
<ion-footer>
  <ion-toolbar class="home-page-footer">
    <app-manu-tabs></app-manu-tabs>
  </ion-toolbar>
</ion-footer>

<app-error-alert [showAlert]="showAlert" [mesg]="errorMesg"></app-error-alert>
