<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New York sports
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="main-app-screen">
<div class="splash-screen-container" *ngIf="!isLoggedin">
  <img src="../../assets/Group 22968.png" alt="">
</div>
<div class="home-page-section-1" *ngIf="isLoggedin">
  <div class="inned-box">
    <h2>All Matches</h2> <div class="icon" (click)="toggleShowDiv('divA')"><ion-icon name="search-outline"></ion-icon></div>
  </div>
  <div class="search-box divA" [@slideInOut]="animationState"  *ngIf="showInput">
    <div class="inner"><div class="icon"><ion-icon name="arrow-back-outline"></ion-icon></div><input type="text" placeholder="Search here..."></div>
  </div>
</div>
<div class="all-matches-section-container">
  <div class="match-box" *ngFor="let match of matches">
    <div class="match-box-header">
      <div class="text"> <p>Zinggy's corner pub</p> <span> vs </span> <p> Li impact</p></div>
      <div class="btns"><button class="checkin-btn">Check in</button></div>
    </div>

    <div class="match-profile-content">
      <div class="left">
        <div class="p1">Programe State</div>
        <div class="p2">Live</div>
        <div class="p3">Location</div>
        <div class="p4">
          <div class="icon"><ion-icon name="location-outline"></ion-icon></div><div class="text">New York, NY</div>
        </div>
      </div>
      <div class="right">

        <div class="p1">Start time</div>
        <div class="p4">
          <div class="icon"><ion-icon name="time-outline"></ion-icon></div><div class="text">4:00PM to 6:00PM</div>
        </div>
      </div>
    </div>
  </div>
</div>



</div>


</ion-content>
<ion-footer>
  <ion-toolbar class="home-page-footer">

    <app-manu-tabs></app-manu-tabs>
  </ion-toolbar>
</ion-footer>


