
.login-page-main-conatiner{
    background-color: #fff;
    width: 100vw;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    .section-0{
        margin-top: 10px;
        margin-left: 10px;
        color: #000000;
        font-size: 25px;
        img{
            width: 30px;
            height: auto;
        }
    }

    .section-1{
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 141px;
            height: 88px;
        }

    }


    .section-2{
        padding: 14px;
        
        h1{
           color: #B6D433;
            line-height: -1.1%;
            font-size: 30px;
            line-height: 24px;
            font-weight: bold;
        }
        p{
            
            color: #000000;
            font-size: 16px;
            line-height: 24px;

            span{
                color: #B6D433;
                font-weight: bold;
            }
 
            
        }
    
        
    }

    .section-3{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 14px;
        margin-bottom: 150px !important;
    
        .login-form{
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 14px;

         .button-conyainer{
            border-bottom: 1px solid #B6D433;
            
            height: 85px;
            width: 100%;
        
            .inner{
                width: 100%;
                display: flex;
                justify-content:space-between;
                align-items:flex-start;
                flex-direction: column;
                color: #000000;
                gap: 10px;
                font-family: 'Franklin Gothic', sans-serif;
                font-size: 16px;
                .icon{
                    color: #000000;
                    margin-bottom: 7px;
                }
               .input-container{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 5px;

                .img{
                    width: 10%;
                    color: #B6D433;
                    font-size: 25px;


                }

                .input{
                    width: 87%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 16PX;
                    input{
                        background-color: #fff;
                        color: #000000;
                        outline: none;
                        border: none;
                        ::placeholder{
                            color: #C8C8C8;
                        }
                    }
                 

                }
               }
        
            }





     }
        


    }
    .SECOND{
        border-bottom: 1px solid #E2E2E2;
        margin-top: 8px;
    }

        }

       

    }

    .section-footer{
        position: relative;
        bottom: 10%;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     button{
        width: 100%;
        background-color: #B6D433;
        color: #000000;
        height: 57px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        .icon{
            margin-left: 10px;
            font-size: 20px;
            
        }

     }
     P{
        span{
            color: #B6D433;
            font-size: 22px;
            font-weight: bold;
            text-decoration: underline;
        }
     }



    }
    


.password-check-section{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    .secondp{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        .success{
            background-color: green;
            color: #000000;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}


@media(min-width:700px){
  
    .section-2{
    text-align: center;
    width: 60%;
    margin: auto;
    h1{
        font-size: 32px !important;
    
    }
    h2{
        color: #B6D433;
        font-size: 50px !important;   
        margin-top: 20px;
    }
    }
    .section-3{
        width: 70% !important;
        margin: auto;
    
    }
    
    .section-footer{
        width: 70% !important;
        margin: auto;
    }
    
    }
    @media(min-width:1000px){
      
        .section-2{
            text-align: center;
            width: 60% !important;
            margin: auto;
            h1{
                font-size: 50px !important;
            
            }
            h2{
                color: #B6D433;
                font-size: 65px !important;   
            }
            }
            .section-3{
                width: 60% !important;
                margin: auto;
            
            }
            
            .section-footer{
                width: 60% !important;
                margin: auto;
            }
    
    }